<div class="flex-wrapper w-full my-7">
  <div class="content-wrapper w-1/3">
    <%= form_with model: @content, local: true do |form| %>
      <h2 class="text-3xl font-semibold text-center text-gray-800 mb-3">コンテンツの編集</h2>
      <div class="mt-5 mb-5 text-red-800">
        <%= render "devise/shared/error_messages", resource: @content %>
      </div>
      <%= render(CommonFormFieldComponent.new(form: form, field_name: :title, field_type: :text_field, options: { autocomplete: "title" })) %>
      <%= render(CommonFormFieldComponent.new(form: form, field_name: :description, field_type: :text_area, options: { autocomplete: "description", class: "h-40" })) %>
      <div class="mb-5">
        <%= form.label :image, "画像" %>
        <%= form.file_field :image, autocomplete: "image", class: "w-full py-2 border border-gray-300 rounded-lg" %>
        <% if @content.image.attached? %>
          <div class="mt-3">
            <%= image_tag @content.image, class: "mx-auto max-w-[300px] h-auto" %>
          </div>
        <% else %>
          <div class="mt-3 text-gray-500">現在、画像は添付されていません。</div>
        <% end %>
      </div>
      <div class="actions mt-10">
        <%= form.submit "更新", class: "w-full py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>
    <% end %>
  </div>
</div>
