<div class="flex-wrapper w-full">
  <div class="content-wrapper w-1/3">
    <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), class: "" ,local: true do |form| %>
      <h2 class="text-3xl font-semibold text-center text-gray-800 mb-3">Sign Up</h2>
      <div class="mt-5 mb-5 text-red-800">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>
      <%= render(CommonFormFieldComponent.new(form: form, field_name: :name, field_type: :text_field, options: { autocomplete: "name" })) %>
      <%= render(CommonFormFieldComponent.new(form: form, field_name: :email, field_type: :email_field, options: { autocomplete: "email" })) %>
      <%= render(CommonFormFieldComponent.new(form: form, field_name: :password, field_type: :password_field, options: { autocomplete: "password" })) %>
      <%= render(CommonFormFieldComponent.new(form: form, field_name: :password_confirmation, field_type: :password_field, options: { autocomplete: "new-password" })) %>
      <div class="actions mt-10">
        <%= form.submit "Sign up", class: "w-full py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>
    <% end %>
  </div>
</div>
