<div class="flex-wrapper w-full">
  <div class="content-wrapper w-1/3">
    <%= form_with model: @fanclub, url: fanclub_path, method: :patch, local: true do |form| %>
      <h2 class="text-3xl font-semibold text-center text-gray-800 mb-3">ファンクラブ情報の編集</h2>
      <div class="mt-5 mb-5 text-red-800">
        <%= render "devise/shared/error_messages", resource: @fanclub %>
      </div>
      <%= render(CommonFormFieldComponent.new(form: form, field_name: :title, field_type: :text_field, options: { autocomplete: "title" })) %>
      <%= render(CommonFormFieldComponent.new(form: form, field_name: :description, field_type: :text_area, options: { autocomplete: "description", class: "h-40" })) %>
      <div class="actions mt-10">
        <%= form.submit "更新", class: "w-full py-2 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>
    <% end %>
  </div>
</div>
